*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, #00AAFF,  #00FF6c);
}
main{
    background-color: white;
    width: 400px;
}
.display{
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.previousOperand{
    font-size: 1.5rem;
    text-align: end;
    color: rgba(255, 255, 255, 0.75);
}
.currentOperand{
    font-size: 2rem;
    text-align: end;
    color: white;
}
.row button{
    font-size: 2rem;
    text-align: center;
    padding: 10px 0px;
    border: 0.1px solid white;
    background-color: rgba(162, 223, 228, 0.75);
    outline: none;
    cursor: pointer;
}
button:hover{
    background-color: rgba(162, 223, 228, 0.3);
}
.rowFirst{
    display: flex;
    width: 100%;    
}
.rowMiddle{
    display: flex;
}
.rowMiddle *{
    width: 25%;
}
.rowLast {
    display: flex;
}
.span-one{
    width: 25%;
}
.span-two{
    width: 50%;
}
@media screen and (max-width: 500px){
    main{
        width: 250px;
    }
    .row button{
        font-size: 1rem;
    }
    .display{
        min-height: 80px;
    }
    .previousOperand{
        font-size: 1rem;
    }
    .currentOperand{
        font-size: 1.5rem;
    }
    .span-two{
        width: 50%;
    }
    .row button{
        margin: 0;
        border: 0.1px solid white;
        color: black;
    }
    
}